

/* .main_content{
    padding-left:0px !important;
    padding-bottom: 0px !important;
} */
.my-auto{
    margin-top: auto;
    margin-bottom: auto;
}

.txt-color1{
    color:#29235c !important;
}

.txt-color-wh{
    color:#ffffff !important;
}
.txt-upper{
    text-transform: uppercase !important;
}

.txt-lower{
    text-transform: lowercase !important;
}

.this-item-bg{
    background-color: #29235c !important;
}

.this-item-bc{
    border-color: #29235c !important;
}

.txt-center{
    text-align:center !important;
}

.txt-bold{
    font-weight: 900 !important;
}

.trans-bg{
    background-color: #fffffff5;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 5px 30px 25px 30px;
    
}

.v-align-mid{
    vertical-align: middle !important;
}

.mb_15 {
    margin-bottom: 15px !important;
}
.mb_40 {
    margin-bottom: 40px !important;
}

.mb_50 {
    margin-bottom: 50px !important;
}

.pl_0{
    
    padding-left: 0px !important;
}

.pr_0{
    padding-right: 0px !important;
}

.common_date_picker input{
    border-radius: 10px;
    background-color: #ffffff00;
    height: 47px;
    line-height: 47px;
    font-size: 1rem !important;
}

.common_input input{
    color:#2A2A2A !important;
}

.bande{
    width: 100% !important;
    display: block !important;
    background-color: #29235c !important;
    /*height: 50px !important;*/
    padding: 0px 0px 0px 0px
}

.logo_dif{
    width: 100%;
    height: auto;
}

.ml_30{
    margin-left:30px !important;
}

.mt_15{
    margin-top:15px !important;
}

.mt_30{
    margin-top:30px !important;
}

.mt_40{
    margin-top:40px !important;
}

.mt_50{
    margin-top:50px !important;
}

.pt_50{
    padding-top:50px !important;
}

.pb_50{
    padding-bottom:50px !important;
}

.pt_40{
    padding-top:40px !important;
}

.pb_40{
    padding-bottom:40px !important;
}

.mt_5{
    margin-top:5px !important;
}

.mt_10{
    margin-top:10px !important;
}

.mb_10{
    margin-bottom:10px !important;
}

.h-auto{
    margin-left: auto !important;
    margin-right:auto !important;
}



@font-face {
    font-family: Copperplate;
    src: url('/copperplate/Copperplate.ttf');
}

@font-face {
    font-family: arialblack;
    src: url('/ArialBlack/arial-black.ttf');
}

@font-face {
    font-family: Cambria;
    src: url('/cambria/Cambria.ttf');
}

@font-face {
    font-family: ms-reference-sans-serif;
    src: url('/ms-reference-sans-serif/MS_Reference_Sans_Serif.ttf');
}

div#ayant_bloc, div#benef_bloc{
    padding: 0px 15px 0px 15px;
}

.this-bc{
   border-color: #BBC1C9 !important;
}

.font-cambria{
    font-family: Cambria;
}

.font-arialblack{
    font-family: arialblack;
}

.font-ms-reference-sans-serif{
    font-family: ms-reference-sans-serif;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: none;
    border-radius: 50%;
    border: 2px solid #2F5597;
    display: inline-block;
  }

  .dot-wh{
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid white;
    display: inline-block;
  }

  .dot-orange{
    height: 25px;
    width: 25px;
    background-color: orangered;
    border-radius: 50%;
    border: 2px solid orangered;
    display: inline-block;
  }

  .white_btn_1 {
    border: 1px solid #fff;
    display: inline-block;
    padding: 14px 30px !important;
    text-transform: capitalize;
    line-height: 16px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    background-color: #fff;
    white-space: nowrap;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: #fff !important;
    text-shadow: none !important;
    opacity: 1;
    color: #101038;
    box-shadow: 0 3px 11px rgba(0, 0, 0, 0.17);
  }

  .white_btn_1:hover {
    background-color: #80cf00 !important;
    border: 1px solid #80cf00 !important;
    color: #fff;
    opacity: 1 !important;
  }

  .unstyled-a{
    color: inherit !important; 
    text-decoration: inherit !important;
  }

  .fl{
      float: left;
  }

  .fr{
    float: right;
}

.profile_info .profile_info_iner .profile_author_name {
    background: #29235c !important;
}

/* .admin_profil{
    border: repeating-linear-gradient(30deg, #4d9f0c, #9198e5, #4d9f0c 20px) 60 !important;
} */

.icon_flat_success{
    background: #C9F7F5;width: 45px;
    height: 45px;
    border-radius: 0.42rem;
    margin-right: 10px;
    padding: 12px;
                                                    
    line-height: 1;
}

.icon_flat_danger{
    background: #FFE2E5;width: 45px;
    height: 45px;
    border-radius: 0.42rem;
    margin-right: 10px;
    padding: 12px;
                                                    
    line-height: 1;
}
  

  